<div ng-controller="homeController">
    <div class="container">
        <p class="lead">
            Explain the challenge here...
        </p>

        <h3>Current Bets on me</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tim Wins</th>
                    <th>Trolly Wins</th>
                    <th>Comments</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>X</td>
                    <td></td>
                    <td>Comment One</td>
                    <td>Joe</td>
                </tr>
                <tr>
                    <td></td>
                    <td>X</td>
                    <td>Comment Two</td>
                    <td>Bob</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>