<div ng-controller="homeController">
    <div class="container">
        <p class="lead">
            Last year I participated in the Man Vs. Machine challenge in the Human Race in Fort Collins CO.  I finished 65th
            overall with a time of 23:50.  While this was a great time I was not fast enough to beat the trolley.
        </p>
        <p class="lead">
            As part of the attempt in 2015 I allowed my co-workers to bet on whether I'd be successful and to
            also share their reasoning behind my success or failure.  Here again is a way for my
            co-workers to place their bets and also share their wonderful reasoning behind their bet.
        </p>

        <h3>Current Bets on me</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tim Wins</th>
                    <th>Trolley Wins</th>
                    <th>Comments</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>X</td>
                    <td></td>
                    <td>Comment One</td>
                    <td>Joe</td>
                </tr>
                <tr>
                    <td></td>
                    <td>X</td>
                    <td>Comment Two</td>
                    <td>Bob</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>